:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: baseline;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 25px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input {
  height: 38px;
  border-radius: 3px;
  border: solid 1px #a8a8a8;
  font-size: 15px;
  padding: 3px 10px;
  min-width: 300px;
}

.read-the-docs {
  color: #888;
}

.todoitem:nth-child(even) {
  background-color: #f8f8f8;
}
.todoitem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 600px;
  align-items: center;
  border-bottom: solid 1px #e1e0e0;
  padding: 4px 10px;
}
.todoitem div {
  display: flex;
}
button.add {
  border-radius: 0px;
  border: solid 1px #a8a8a8;
  padding: 8px 20px;
  margin-left: 5px;
}
button.add:hover {
  background-color: #ebebeb;
  border: solid 1px #a8a8a8;
}

button.check,
button.delete {
  padding: 3px 5px;
  border-radius: 0px;
  margin-left: 3px;
  background-color: transparent;
  border: none;
}
button.check:hover,
button.delete:hover {
  padding: 3px 5px;
  background-color: #ebebeb;
  border-radius: 0px;
  border: none;
}
button.delete svg {
  color: red;
  vertical-align: middle;
}
button.check svg {
  color: rgb(53, 168, 0);
  vertical-align: middle;
}
.todoitems {
  text-align: left;
  margin-top: 40px;
}
.footer {
  margin-top: 80px;
  font-size: 11px;
}
